name: Test LaTeX to PDF

on:
  push:
    branches:
      - main
      - develop
    tags:
      - "*"
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Compile test LaTeX document with Maths
        uses: ./
        with:
          output_dir: output
          main_latex_file: resources/test.tex
          ctan_packages: amsmath amsfonts lua-uni-algos
      - name: Upload PDF - Maths
        uses: actions/upload-artifact@v4
        with:
          name: output-maths
          path: output/test.pdf

      - name: Compile LaTeX document with fontawesome
        uses: ./
        with:
          output_dir: output
          main_latex_file: resources/test-fontawesome.tex
          ctan_packages: moderncv colortbl fontawesome lua-uni-algos
      - name: Upload PDF - Fontawesome
        uses: actions/upload-artifact@v4
        with:
          name: output-fontawesome
          path: output/test-fontawesome.pdf

      - name: Compile LaTeX document with TOC
        uses: ./
        with:
          output_dir: output
          main_latex_file: resources/test-toc.tex
          ctan_packages: lua-uni-algos
          toc: true
      - name: Upload PDF - TOC
        uses: actions/upload-artifact@v4
        with:
          name: output-toc
          path: output/test-toc.pdf
